*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    position: relative;
    background-color: black;
}
.mask{
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    top: 0;
    left: 0;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
}
.circle__animation{
    animation: circle_movement 6s ease-in-out , circle_size 3s ease forwards 6s;
}
@keyframes circle_movement{
    0%{
        top:0;
        left:0;
    }
    25%{
        top:35%;
        left:80%;
    }
    50%{
        top:45%;
        left:20%;
    }
    100%{
        top:68%;
        left: 50%;
    }
}
@keyframes circle_size{
    0%{
        top:68%;
        left:50%;
        height: 300px;
        width: 300px;
    }
    100%{
        height: 100%;
        width: 100%;
    }
}

.photo{
    position: absolute;
    top:0;
    left:0;
    background-image: url('img/james-bond.webp');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
}
.start-btn{
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 2em;
    font-size: 1.2rem 1.8rem 1.2rem 1.8rem;
    transform: translate(-50%,-50%);
    cursor: pointer;
    opacity: 1;
}
.btn--animation{
    opacity: 0;
    transition: opacity .5s ease-in-out ;
}
