*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8em;
    background-color: blueviolet;
}
.heading{  
    padding: 1.2em;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
}
.actor-container{
display: flex;
align-items: center;
margin-top: 1.5em;
border: 2px solid black;
}
.data-container{
margin-left: 1.5rem;
}
.img-container{
width: 20%;
display: flex;
border-right: 2px solid black;

}
.img-item{
    width: 100%;
}
.name{
font-size: 1.8rem;
color: bisque;
font-weight: 800;
}
.rate{
font-size: 1.5rem;
color: rgb(223, 108, 108);
}
.alt-name{
font-size: 1.4rem;
color: aliceblue;

}
.object-id{
font-size: 1.2rem ;
}

.gold{
    border: 4px solid rgb(170, 130, 21);
}
.blue{
    border: 4px solid rgb(59, 59, 187);
}
.pink{
    border: 4px solid palevioletred;
}
.green{
    border: 4px solid green;
}
.gray{
    border: 4px solid gray;
}